Flask==2.2.3
numpy>=1.21.0
pandas==1.5.3         # Data analysis and manipulation library
numpy==1.23.5         # Library for numerical computations
scikit-learn==1.2.2   # Machine learning library
nltk==3.8.1           # Natural Language Toolkit for language data
requests==2.28.2      # HTTP requests library
beautifulsoup4==4.11.2 # Parsing HTML and XML documents
lxml==4.9.2           # Parser for XML and HTML

